.social {
  flex-grow: 1;
  display: flex;

  @media (max-width: 1450px) {
    flex-direction: column;
  }

  .event {
    width: 300px;
    padding: 16px;
    background: white;
  }

  .booking-system-test {
    color: white;
    margin: 50px auto;
    padding: 0 25px;

    a {
      color: lightblue;
    }
  }
}
