@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

$blue: #1f4689;
$red: #c43f51;
$white: #f9f9f9;

$verticalBreakpoint: 1450px;

.cta {
  position: relative;
  flex: 1 1 0;
}

.rank-box {
  display: flex;
  align-items: flex-start;
  flex: 1 1 0;
}
